@charset "utf-8";
html{
	scroll-behavior: smooth;
}
body{
	background-color:#f6f5f5;
	margin:0px;
	padding:0px;
}
ul{
	list-style: none;
}
a{
	text-decoration:none;
}
section{
	width:100%;
	height:95vh;
	background-size: cover;
	background-repeat:no-repeat;
	position: relative;
}
nav {
	display: flex;
	justify-content: space-between;
	align-items:center;
	height:60px;
	background-color:#ffffff;
	box-shadow:2px 2px 12px solid black;
	padding:0px 5%;
}
nav ul{
	display: flex;
}
.toggle{
	display: none;
}
nav ul li a{
	margin:30px;
	font-family:myriad pro regular;
	color:#505050;
	font-size: 15px;
	font-weight: bold;
}
.logo{
	font-family:RoadTest;
	color:#000000;
	font-size: 22px;
}
.active{
	color: #505050;
	font-weight:bold;
}
.model{
	width: 100%;
	height:405px;
	position:absolute;
	top:65px;
	left:75%;
	transform: translateX(-75%);
	width: 100%;
}
#blck{
	opacity: 0.5;
	width: 100%;
	position:absolute;
	top: 65px;
	left:75%;
	transform: translateX(-75%);
	width: 100%;
}
.text-container p:nth-child(1){
	font-family: calibri;
	font-weight:bold;
	color:#ffffff;
	font-size:22px;
	margin-top: -20px;
}
.text-container p:nth-child(2){
	font-family: calibri;
	font-weight:bold;
	letter-spacing: 1px;
	color:#ffffff;
	font-size:60px;
}
.text-container p:nth-child(3){
	font-family: myriad pro regular;
	color: #ffffff;
	font-size:30px;
	line-height:30px;
}
.text-container p{
	margin:45px 0px 25px;
	line-height:0px;
}
.text-container button{
	width:130px;
	height:42px;
	border-radius:10px;
	font-family:calibri;
	font-weight:bold;
	font-size: 14px;
	outline:none;
	margin:0px 10px;
}
.text-container{
	position: absolute;
	left:13%;
	top:42%;
	transform:translate(-13%,-42%);
}
.ctc-button{
	background-color:#0B0B0B;
	color:#ffffff;	
	border:none;
}
.ctc-button:hover{
	background-color: #CC4949;
}
.gc-button{
	background-color:#0B0B0B;
	color:#fff;	
	border:none;
}
.gc-button:hover{
	background-color: #CC4949;
}
button:active{
	transform:scale(1.1);
}
.about-container{
    width: 80%;
    height: 400px;
    background: #ffffff;
    border-radius: 20px;
    box-shadow:2px 2px 12px #000000;
    display: flex;
    margin: -9% auto 20px auto;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
}
.about-container img{
	height:250px;
	border-radius: 50%;
}
.about-text{
	width:500px;
}
.about-text p:nth-child(1){
	color:#000000;
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:50px;
	line-height:0px;
}
.about-text p:nth-child(2){
	color:#3e3d3d;
	font-size:20px;
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	font-weight:bold;
	line-height:5px;
}
.about-text p:nth-child(3),.about-text p:nth-child(4){
	color:#3e3d3d;
	font-family:calibri;
	font-size:16px;
}
.about-text button{
	border-radius: 10px;
	width:120px;
	height: 40px;
	color:#ffffff;
	outline:none;
	border:none;
	font-family: calibri;
	background-color:#262525;
}
.about-text button:hover{
	background-color: #CC4949;
}
h1, #ctc-me{
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	font-size: 50px;
	font-weight: bold;
	text-align: center;
	margin-top: 80px;
}
h4, #waiting{
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	margin-top: -25px;
}
form {
	max-width:420px;
	margin:50px auto;
}
.feedback-input {
	color: #000000;
	font-family: Helvetica, Arial, sans-serif;
	font-weight:500;
	font-size: 20px;
	border-radius: 5px;
	line-height: 22px;
	background-color: transparent;
	border:2px solid #000000;
	transition: all 0.3s;
	padding: 13px;
	margin-bottom: 15px;
	width:100%;
	box-sizing: border-box;
	outline:0;
}
::-webkit-input-placeholder{
	color: #000000;
}

.feedback-input:focus {
    border:2px solid #000000;
}

textarea {
	height: 150px;
	line-height: 150%;
	resize: vertical;
}

[type="submit"] {
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	width: 100%;
	background:#000000;
	border-radius:5px;
	border:0;
	cursor:pointer;
	color:white;
	font-size:24px;
	padding-top:10px;
	padding-bottom:10px;
	transition: all 0.3s;
	margin-top:-4px;
	font-weight:700;
}
[type="submit"]:hover {
	background:#CC4949;
}
.footer {
	position: relative;
    height: 160px;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #000000;
	color: #ffffff;
	text-align: center;
}
h3{
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    color: #ffffff;
    background-color: #000000;
    font-size: 40px;
    position: relative;
    margin-top: 30px;
}

.sci{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sci li{
    margin: 20px 30px;
}

.sci a{
    text-decoration: none;
    padding: 5px;
    border-radius: 50%;
    filter: invert(1);
}
